<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Bean Definition-->
    <bean id="userdao" class="com.sean.mobile.training.dao.impl.MysqlUserDao">
    </bean>

    <!--userDao injection-->
    <bean id="userservice" class="com.sean.mobile.training.service.UserService">
        <property name="userDao" ref="userdao"/>
    </bean>

    <!--Aop config-->
    <bean id="logger" class="com.sean.mobile.training.aop.Logger"></bean>
    <aop:config>
        <aop:pointcut id="addUser" expression="execution(* com.sean.mobile.training.service.*.addUser(*))"/>
        <aop:aspect ref="logger">
            <aop:before method="before" pointcut-ref="addUser"/>
        </aop:aspect>
    </aop:config>
</beans>